<section>
    
    <form method="post" class="form-card">
        <h2>signup</h2>
        <label for="username">username</label>
        <input type="text" placeholder="username" name="username">
        <label for="email">email</label>
        <input type="text" placeholder="email" name="email">
        <label for="age">age</label>
        <input type="age" placeholder="age" name="age">
        <label for="password">password</label>
        <input type="password" placeholder="password" name="password">
         
         <button type="submit">signup</button>
    </form>
</section>

<!-- <button class="btn_good">good</button>
<button class="btn_bad">bad</button>
<button class="btn_normal">normal</button> -->

